%form{:method => "post", :action => "createSurvey"}
  Question 1
  %input{:type => "text", :name => "q_1"}
  %br
  Question 2
  %input{:type => "text", :name => "q_2"}
  %br
  Question 3
  %input{:type => "text", :name => "q_3"}
  %br
  Question 4
  %input{:type => "text", :name => "q_4"}
  %br
  Question 5
  %input{:type => "text", :name => "q_5"}
  %br
  %br
  %input{:type => "submit", :value => "Submit"}
